annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
fastapi==0.141.1
greenlet==3.5.5
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.19
joblib==1.6.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
narwhals==2.25.0
numpy==2.5.2
packaging==26.3
pandas==3.0.5
planetary-computer==1.0.0
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
pystac==1.15.2
pystac-client==0.9.0
pystac-core==1.15.2
pystac-ext-classification==2.0.1
pystac-ext-datacube==2.2.1
pystac-ext-eo==1.1.1
pystac-ext-file==2.1.1
pystac-ext-grid==1.1.1
pystac-ext-item-assets==1.0.1
pystac-ext-label==1.0.2
pystac-ext-mgrs==1.0.1
pystac-ext-mlm==1.4.1
pystac-ext-pointcloud==1.0.1
pystac-ext-projection==2.0.1
pystac-ext-raster==1.1.1
pystac-ext-render==2.0.0
pystac-ext-sar==1.0.1
pystac-ext-sat==1.0.1
pystac-ext-scientific==1.0.1
pystac-ext-storage==2.0.1
pystac-ext-table==1.2.1
pystac-ext-timestamps==1.1.1
pystac-ext-version==1.2.1
pystac-ext-view==1.0.1
pystac-ext-xarray-assets==1.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.3.post1
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
scikit-learn==1.9.0
scipy==1.18.1
six==1.17.0
SQLAlchemy==2.0.52
starlette==1.6.0
threadpoolctl==3.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
uvicorn==0.52.4
watchfiles==1.2.0
websockets==17.1
